html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
}

.navigation {
  background: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
  height: 5.2rem;
  width: 100%;
}

.container {
  max-width: 80.0rem;
}

.navigation .title, .navigation-title {
  color: #606c76;
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Helvetica Neue', Arial, sans-serif;
  display: inline;
  font-size: 1.6rem;
  line-height: 5.2rem;

}

.navigation .img {
  position: relative;
  top: 0.4rem;
  height: 2.0rem;
}

.navigation-list {
  display: inline;
  list-style: none;
  margin-bottom: 0;
}

.navigation-item {
  float: left;
  margin-left: 2.5rem;
  margin-bottom: 0;
}

.navigation-link {
  line-height: 5.2rem;
}

